@page
@model CourseHub.UI.Pages.Shared.dev_InviteMemberModel
@{
    Layout = null;
    string element = "Course";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



<button class="btn btn-primary" data-toggle="modal" data-target="#inviteModal">
    Invite Members
</button>

<!-- Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel">Invite Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <!-- List of users -->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        User 1
                        <span id="user1Status"></span>
                        <button class="btn btn-primary" onclick="inviteUser('User 1')">Invite</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        User 2
                        <span id="user2Status"></span>
                        <button class="btn btn-primary" onclick="inviteUser('User 2')">Invite</button>
                    </li>
                    <!-- Add more users as needed -->
                </ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function inviteUser(userName) {
        // You can replace this with actual logic to invite the user
        // For now, we'll just display a message and change the button to a tick
        alert("Invite user complete for: " + userName);

        // Change the button to a tick
        document.getElementById(userName + "Status").innerHTML = '<i class="fas fa-check text-success"></i>';
        // Disable the button
        document.querySelector(`#${userName}Status + button`).disabled = true;
    }
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>